html, body {
  height: 100%;
  width: 100%;
}
h1{
  color: white;
  font-size: 30px;
  
}
h3{
  color:black;
  font-size: 30px
}

body{
  font-size:30px;
 
  

  
}
h2{
  color:white;
  font-size:30px;
}
body {
  background-image: url("https://images.unsplash.com/photo-1668079078320-76dba982b397?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTI0fHxjbGljayUyMGltYWdlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-size: 120% 120%;
  transition: all 0.5s ease;
}

body:hover {
  background-size: 90% 90%;
}

button{
  font-size:30px;
}
