html, body {
  height: 100%;
  width: 100%;
}
h1{
  color: white;
  font-size: 30px;
  
}
h3{
  color:black;
  font-size: 30px
}

body{
  font-size:30px;
 
  

  
}
h2{
  color:white;
  font-size:30px;
}
html{

  background-image: url("https://images.pexels.com/photos/268415/pexels-photo-268415.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  
  background-size: cover, no repeat;
 
   
}
button{
  font-size:30px;
}
